/* GENERAL */

.btn.blue:hover{
  filter: brightness(1.4);
}
span :hover{
  background-color: rgba(150,150,150, .5);
}

/* NAV */

nav .menu > ul > li.underlined:hover {
  border-bottom: 3px solid black;
  line-height: 97px;
}
ul li:hover ul.dropdown {
  display: block;
}
.dropdown li:hover{
  background-color: lightgrey;
}



/* FAQ  */
details[open] .open{
  display: inline;
}

details[open] .close{
  display: none;
}
/* SPONSOR */

.active{
  border: 10px solid rgba(255, 255, 255, .5);
}