header{
  height: 100px;
  width: 100%;
  line-height: 80px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white;
}

/* JUMBOTRON */

.jumbotron{
  margin-top: 100px;
  height: 700px;
  background-color: rgb(180, 208, 231);
}

.jumbotron h2{
  padding: 70px 0 40px 0;
  font-size: 5rem;
}

.jumbotron img{
  width: 1000px;
}

.jumbo-text{
  width: 25%;
}

.jumbo-text p{
  font-size: 1.2rem;
}

.jumbo-button{
  margin: 40px 0 20px 0;
}

.jumbo-text span{
  display: inline-block;
  margin-bottom: 40px;
}

.jumbo-text i{
  font-size: 2rem;
  -webkit-text-stroke: 2px black;
}

/* MAIN */

main h2{
  font-size: 2.5rem;
}

input[type = radio] {
  margin-right: 5px;
}

.card-container{

}
.cardcontent{
  width:calc((100% - 100px) / 3);
  border: 1px solid rgb(220, 220, 222);

}

.col-center{
  margin: 0 50px 0 50px;
}

.cardcontent h4{
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgb(220, 220, 222);
}

.plan-info{
  width: 80%;
  margin: 0 auto; 
}

.plan-info span{
  display: block;
  line-height: 25px;

}

.plan-info ul li{
  padding: 10px 0;
  line-height: 25px;
}

.fa-ul{
  margin: 0 22px;
}

.plan-info .btn {
  display: block;
  width: 100%;
}

.plan-info span>a{
  text-decoration: underline;
  text-decoration-color: rgb(171, 203, 255);
  color: #0000EE;
}

.line{
  width: 50px;
  border: .5px solid grey;
}

.plan-info h5{
  text-align: left;
  -webkit-text-stroke: .5px black;
  font-size: 1.4rem;
}
.fa-check{
  color: rgb(0, 94, 255);
  -webkit-text-stroke: 1px rgb(0, 94, 255);
}

.card-big h3{
  text-align: center;
  padding: 10px 0;
}

/* ENTRA IN CONTATTO CON UN PARTNER DROPBOX */

.image img{
  width: 100%;
}
#partner .text{
  padding: 50px 0 0 50px;
}
#partner .text span{
  display: inline-block;
  background-color: white;
  border: 1px solid black;
}

/* /ENTRA IN CONTATTO CON UN PARTNER DROPBOX */

/* OPERAZIONI CON DROPBOX BUSINESS */

.operation-card{
  width:calc((100% - 100px) / 3);
  margin-top: 50px;
}
.operation-card img{
  width: 100%;
}

/* /OPERAZIONI CON DROPBOX BUSINESS */

/* SPONSOR */



/* /SPONSOR */