/* DEBUG */

.bg-blue{
  background-color: blue;
}
.bg-red{
  background-color: red;
}

.debug{   
  background-color: rgba(255, 0, 0, .4);
  border: 1px solid black; 
}  

.h100{      
  min-height: 100px; 
}  

.h300{   
  min-height: 300px; 
} 

.h500{   
  min-height: 500px; 
}

.width150{  
  width: 150px; 
}  

.w40{   
  width: 40%; 
}  

.w50{   
  width: 50%; 
}  

.w60{  
  width: 60%; 
}  


/* /DEBUG */


ul li{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
}

ul li img{
  vertical-align: middle;
}



.container{
  width: 70%;
}
.container-l{
  width: 80%;
  margin: auto;
}


.float-sx{
  float: left;
  display: inline-block;
}
.float-dx{
  float: right;
  display: inline-block;
}


.btn{
  background-color: rgb(0, 97, 255);
  padding: 10px 20px;
}
a.btn{
  color: white;
  text-decoration: none;
}
