/* GENERAL */
header{
  line-height: 80px;
}

ul li{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
}

ul li img{
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: black;
}

.container{
  width: 70%;
}
.container-l{
  width: 90%;
}


.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
.float-sx{
  float: left;
}
.float-dx{
  float: right;
}

.btn{
  background-color: rgb(0, 97, 255);
  padding: 10px 20px;
}
a.btn{
  color: white;
  text-decoration: none;
}